@media (min-width: 1025px) {
  .section-products.assessoria {
    padding-top: 140px !important;
    padding-bottom: 295px !important;
  
    h2.wp-block-heading {
      font-size: 42px !important;
      padding-bottom: 100px !important;
    }

    h3.wp-block-heading {
      line-height: 28.8px !important;
    }
  }
}

.slider-assessoria {
    .slide-title {
        font-weight: 600 !important;
        letter-spacing: -2px !important;
    }
    .slide-text {
        font-weight: 400 !important;
    }
}
