.aviao-section {
  padding: 140px var(--container-padding);
  background: #0a0e23;
  @media (min-width: 1024px) {
    .wp-block-cover__background {
      background: #0a0e23 !important;
    }
  }

  @media (max-width: 1023px) {
    .wp-block-cover__image-background {
      height: 450px;
      width: auto;
      left: auto;
      right: 0;
    }
    .wp-block-cover__background {
      opacity: 1 !important;
      height: 450px;
    }
  }
  .wp-block-cover__inner-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  h2 {
    font-size: 36px;
    line-height: 55px;
    font-weight: 200 !important;
    color: #fff;
    text-align: center;
    @media (min-width: 1024px) {
      font-size: inherit;
      line-height: inherit;
      font-weight: 300 !important;
    }
  }
  .etapas {
    width: 100%;
    padding: 0 calc(53px - var(--container-padding));
    @media (min-width: 1024px) {
      padding: 0 var(--container-padding);
    }
    .etapa {
      padding: 48px 30px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      border-radius: 16px;
      border: 1px solid #fff;
      background: rgba(0, 35, 71, 0.4);
      min-height: 260px;
      h3,
      p {
        margin: 0;
      }
      h3 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: #fff;
      }
      p {
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
      }
    }
    .triangulo {
      text-align: center;
      //radial background white
      svg {
        width: 50px;
        height: 50px;
        filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
        transform: rotate(180deg);
        path {
          fill: #fff;
        }
        @media (min-width: 1024px) {
          transform: rotate(90deg);
          width: 40px;
          height: 40px;
        }
      }
    }

    .wp-block-columns {
      gap: 60px !important;
    }
  }
}
.formas-section {
  padding: 140px var(--container-padding);
  background: #fff;
  padding-top: 250px;
  .wp-block-cover__inner-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media (min-width: 1024px) {
      gap: 120px;
    }
  }
  @media (min-width: 1024px) {
    padding: 140px var(--container-padding);
    .wp-block-cover__background {
      opacity: 0 !important;
    }
  }
  @media (max-width: 1023px) {
    .wp-block-cover__image-background {
      height: 450px;
      width: auto;
      left: -150px;
    }
    .wp-block-cover__background {
      opacity: 1 !important;
      height: 500px;
    }
  }
  h2 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 300 !important;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
    color: #002d5d;
    font-weight: 300;
    @media (min-width: 1024px) {
      font-weight: 800 !important;
    }
  }
  .cards {
    @media (min-width: 1024px) {
      padding-top: 100px;
      justify-content: space-between;
      padding-left: 13%;
      padding-right: 13%;
    }
    .wp-block-column {
      background: #fff;
      padding: 48px;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);

      border-radius: 16px;
      transition: all 0.3s ease;
      color: #002d5d;
      position: relative;
      margin-top: 180px;
      @media (min-width: 1024px) {
        margin-top: 0px;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
      }
      &:hover {
        background: #002d5d;
        h3 {
          color: #fff !important;
        }
        p {
          color: #fff !important;
        }
      }
      .wp-block-image {
        position: absolute;
        bottom: 0;
        top: -240px;
        width: 360px;
      }
      //   img {
      //     margin-top: -180px;
      //   }
    }
  }
}

.turismoForm-section {
  padding: 140px var(--container-padding);
  overflow: hidden;
  // div:not(.maodinheiro) {
  //   position: relative;
  //   z-index: 2;
  // }
  .maodinheiro {
    position: absolute;
    top: -100px;
    left: -20vw;
    width: 100%;
    z-index: 1;
    transform: rotate(61deg);
    margin: 0;
    @media (min-width: 1024px) {
      top: 500px;
      left: -21vw;
      width: 735px;
    }
  }
  h2 {
    font-size: 42px;
    line-height: 55px;
    font-weight: 300;
    color: #003366;
    font-weight: 300 !important;
    padding-top: 300px;
    @media (min-width: 1024px) {
      padding-top: 0px;
    }
  }
  p {
    color: #666;
    font-size: 21px;
    line-height: 29px;
    font-weight: 400;
    strong,
    b {
      font-weight: 500;
    }
  }

  .carrossel-vantagens {
    padding-top: 104px;
    @media (min-width: 1024px) {
      padding-top: 300px;
    }
    h2 {
      font-size: 24px !important;
      line-height: 28px !important;
      padding-top: 0px;
    }
  }

  @media (min-width: 1600px) {
    .wpcf7-form {
      width: 717px;
    }
  }
  .column-form {
    gap: 130px;
    .wp-block-column:nth-child(2) {
      position: relative;
      z-index: 2;
    }
  }
}
