.slider-consorcio {
  .slide-title {
    color: #666 !important;
    span {
      color: #00b2e3 !important;
    }
  }
  .slide-subtitle {
    color: #666 !important;
  }
  .slide-text {
    color: #666 !important;
  }
  .slide-cta {
    .slide-button {
      background-color: transparent !important;
      border: 2px solid #002d50 !important;
      color: #002d50 !important;
      &:hover {
        background-color: #002d50 !important;
        border-color: #002d50 !important;
        color: #fff !important;
      }
    }
  }
  .slide-disclaimer {
    color: #666;
  }
}
.vantagensconsorcio-section {
  @media (min-width: 1024px) {
    min-height: 100vh;
  }
  .secao-vantagens {
    padding: 107px var(--container-padding);
    .diferenciais-title {
      h2 {
        font-size: 24px !important;
        line-height: 28px !important;
        br {
          display: none;
          @media (min-width: 1024px) {
            display: block;
          }
        }
      }
    }
  }
}
.realizarconsorcio-section {
  padding: 107px var(--container-padding);
  @media (min-width: 1024px) {
    min-height: 100vh;
  }

  .diferenciais-title h2 {
    color: #fff !important;
    font-size: 24px !important;
    line-height: 28px !important;
    br {
      display: none;
      @media (min-width: 1024px) {
        display: block;
      }
    }
  }

  .diferenciais-prev,
  .diferenciais-next,
  .flickity-prev-next-button {
    color: #fff !important;
    border: 1px solid #fff !important;
    path {
      stroke: #fff !important;
    }
    &:hover {
      border: 1px solid #002d50 !important;
    }
  }

  .flickity-prev-next-button {
    path {
      fill: #fff !important;
    }
  }
}

.consorcio-products {
  padding: 76px var(--container-padding);
  @media (min-width: 1024px) {
    padding: 135px var(--container-padding);
  }
  .is-layout-constrained {
    max-width: 100%;
  }
  .wp-block-group {
    gap: 100px;
    @media (min-width: 1024px) {
      gap: 65px;
    }
  }
  h2 {
    font-size: 30px !important;
    line-height: 34px !important;
    color: #666 !important;
    @media (min-width: 1024px) {
      font-size: 40px !important;
      line-height: 46px !important;
    }
  }
}

.quemsomos-consorcios {
  padding: 76px 0px;
  @media (min-width: 1024px) {
    padding: 175px var(--container-padding);
  }
  h2 {
    @media (min-width: 1024px) {
      margin-top: 90px;
    }
  }
  .formhome {
    gap: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wp-block-buttons {
      display: flex;
      @media (min-width: 1024px) {
        display: none;
      }
    }
    .wp-block-image {
      display: flex;
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
  .ctasobre {
    display: flex !important;
    height: -webkit-fill-available;
    gap: 20px;
    justify-content: space-between;
    order: 1 !important;
    @media (min-width: 1024px) {
      order: 2;
    }
    h2 {
      text-align: left;
      font-size: 32px;
      line-height: 36px;
      @media (min-width: 1024px) {
        font-size: 42px;
        line-height: 46px;
      }
      br {
        display: none;
        @media (min-width: 1024px) {
          display: block;
        }
      }
    }
    p {
      text-align: left;
      font-size: 18px;
      @media (min-width: 1024px) {
        font-size: 21px;
      }
    }
    .wp-block-image {
      display: none;
      @media (min-width: 1024px) {
        display: flex;
      }
    }
  }
  .logoconsorcios {
    width: 100%;
  }
  .consorcio-descricao {
    .wp-block-group__inner-container {
      padding: 0;
      @media (min-width: 1024px) {
        padding: var(--container-padding);
      }
    }
    .wp-block-buttons {
      display: none;
      @media (min-width: 1024px) {
        display: flex;
      }
    }
  }
}
