.slider-financial {
  @media (min-width: 1600px) {
    .content-wrapper {
      max-width: 60% !important;
    }
  }
  .slide-subtitle {
    color: #666666 !important;
  }
  .slide-cta a {
    color: #002d5d !important;
    border: 2px solid #002d5d !important;
    &:hover {
      background-color: #002d5d !important;
      color: #fff !important;
    }
  }
  .slide-title {
    display: flex;
    flex-direction: column;
  }

  // Background overlay para slides light
  .slide {
    background-position: 70% !important;
    @media (min-width: 1024px) {
      background-position: inherit;
    }
  }
  .slide-content.light {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(
        65.3% 97.63% at 93.28% 30.16%,
        rgba(255, 255, 255, 0.5) 0%,
        #fff 100%
      );
      z-index: 1;
      @media (min-width: 1024px) {
        display: none;
      }
    }

    // Garante que o conteúdo fique acima do overlay
    .container {
      position: relative;
      z-index: 2;
    }
  }
}

/* ============================
   Seção Vantagens Financial
=============================== */

.secao-vantagens-financial {
  padding-bottom: 240px !important;
  .box-white,
  .vantagens-slider.box-white {
    background: #fff;
    border-radius: 16px;
    padding: 30px 20px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 4, 4, 0.25);
    flex-direction: column;
  }

  .wp-block-columns {
    gap: 20px;
    justify-content: center;
    @media (min-width: 1024px) {
      justify-content: inherit;
    }
  }

  .wp-block-column {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 240px;
    @media (min-width: 1024px) {
      max-width: inherit;
    }
  }

  h2,
  h3,
  p {
    margin: 0 !important;
  }

  h3 {
    padding-top: 0px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    @media (min-width: 1024px) {
      padding-top: 16px;
      font-size: 24px;
      line-height: 28px;
      font-weight: 300;
    }
  }
  p {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    br {
      display: none;
      @media (min-width: 1024px) {
        display: block;
      }
    }
  }

  .wp-block-columns.is-layout-flex {
    gap: 30px !important;
  }

  :where(.wp-block-columns) {
    margin-bottom: 30px;
  }

  .box-white {
    aspect-ratio: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 23px;
    margin: 0 !important;
    gap: 24px;
    @media (min-width: 1024px) {
      aspect-ratio: 1 / 1;
      padding: 20px;
    }
  }

  @media (max-width: 767px) {
    h2 {
      font-size: 30px !important;
      padding: 50px 20px !important;
    }

    p {
      font-size: 18px !important;
      padding: 0px !important;
    }
  }
}

.financial.consorcio-products {
  h2 {
    color: #00b2e3 !important;
  }
  .title p {
    padding-top: 16px;
  }
  .flickity-prev-next-button {
    background-color: transparent;
    path {
      fill: #00b2e3;
    }
  }
}

.slides-seguradoras-section {
  h2 {
    font-size: 34px !important;
    line-height: 44px !important;
    font-weight: 300 !important;
    @media (min-width: 1024px) {
      font-size: 42px !important;
      line-height: 46px !important;
      font-weight: 300 !important;
    }
  }
  p {
    font-size: 16px !important;
    line-height: 20px !important;
    @media (min-width: 1024px) {
      font-size: 21px !important;
      line-height: 26px !important;
    }
  }
  .wp-block-group  {
    gap: 40px;
    @media (min-width: 1024px) {
      gap: 16px;
    }
  }
}
