# Ignore node_modules directory
/html/wp-content/themes/advanced-corretora/node_modules
/html/wp-content/themes/advanced-corretora/composer.lock
/html/wp-content/themes/advanced-corretora/vendor
/html/wp-content/themes/advanced-corretora/package-lock.json
/html/wp-content/uploads
/html/wp-content/plugins
