services:
  advanced_blog_wp:
    container_name: advanced_blog_wp
    image: wordpress:php8.3-apache
    volumes:
      - ./site-blog/html:/var/www/html
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: 172.17.0.1
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE_BLOG}
      WORDPRESS_CONFIG_EXTRA: |
        define('MYSQL_CLIENT_FLAGS', MYSQLI_CLIENT_SSL_DONT_VERIFY_SERVER_CERT);
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - advanced_blog_network+

  advanced_institucional_wp:
    container_name: advanced_institucional_wp
    image: wordpress:php8.3-apache
    volumes:
      - ./site-institucional/html:/var/www/html
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: 172.17.0.1
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE_INSTITUCIONAL}
      WORDPRESS_CONFIG_EXTRA: |
        define('MYSQL_CLIENT_FLAGS', MYSQLI_CLIENT_SSL_DONT_VERIFY_SERVER_CERT);
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - advanced_blog_network
      
  advanced_blog_proxy:
    container_name: advanced_blog_proxy
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certificados:/etc/nginx/certificados:ro
    depends_on:
      - advanced_blog_wp
    networks:
      - advanced_blog_network
      
networks:
  advanced_blog_network:
    driver: bridge