services:
  advanced_blog_wp:
    container_name: advanced_blog_wp
    image: wordpress:php8.3-apache
    volumes:
      - ./html:/var/www/html
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: advanced_blog_db
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
    networks:
      - advanced_blog_network

  advanced_blog_db:
    container_name: advanced_blog_db
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - ./database:/var/lib/mysql
    networks:
      - advanced_blog_network

  advanced_blog_proxy:
    container_name: advanced_blog_proxy
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - advanced_blog_wp
    networks:
      - advanced_blog_network

networks:
  advanced_blog_network:
    driver: bridge
