// Header
.header {
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
  padding: 10px 0;

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 104px;
      > .logo {
        //logo com max-width de 192
        max-width: 192px;
        flex: 0 0 auto;

        > .logo-image {
          display: block;
          img {
            width: 100%;
            height: auto;
          }
        }

        > .logo-text {
          display: block;

          > .header__logo__link {
            color: #333;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }

      > .menu {
        flex: 1;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;

        > .cta {
          display: flex;
          height: 40px;
          justify-content: center;
          align-items: center;
           > a {
            color: var(--text-blue-default, #002d5d);
            text-align: center; 
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            border-radius: var(--Spacing-System-radius-sm, 12px);
            border: 1.5px solid var(--color-default, #002d5d);
            padding: 12px 24px;
            text-decoration: none;
            transition: all 0.3s ease;
            &:hover {
              background: var(--Primary-50, #EDEFFE);
            }
           }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
