// Header
.header {
  position: fixed;
  z-index: 1000;
  width: 100%;

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    padding: 16px;
    border-radius: 0 0 20px 20px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    > .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 104px;
      > .logo {
        //logo com max-width de 192
        max-width: 192px;
        flex: 0 0 auto;
        z-index: 10; // Garante que o logo fique acima do menu mobile

        > .logo-image {
          display: block;
          img {
            width: 100%;
            height: auto;
          }
        }

        > .logo-text {
          display: block;

          > .header__logo__link {
            color: #333;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }

      // Botão do menu hambúrguer
      .hamburger-menu {
        display: none; // Escondido por padrão, visível apenas em mobile/tablet
        background: none;
        border: none;
        cursor: pointer;
        padding: 0px;
        z-index: 10;
        order: 1;

        .hamburger-icon,
        .close-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .close-icon {
          display: none;
        }

        // &[aria-expanded='true'] {
        //   .hamburger-icon {
        //     display: none;
        //   }
        //   .close-icon {
        //     display: flex;
        //   }
        // }
      }

      > .menu-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        flex-direction: column;
        padding: 28px;
        /*put close icon here*/
        @media (min-width: 1024px) {
          order: 2;
          padding: 0px;
        }
        .close-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          @media (min-width: 1024px) {
            display: none;
          }
        }

        > .menu {
          flex: 1;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 24px;
          transition: transform 0.3s ease-in-out;

          > .mobile-cta {
            display: none; // Escondido no desktop, visível apenas em mobile
          }

          > .cta {
            display: flex;
            height: 40px;
            justify-content: center;
            align-items: center;
            > a {
              text-align: center;
              font-size: 14px;
              font-style: normal;
              font-weight: 350;
              line-height: 16px;
              border-radius: 999px;
              padding: 12px 24px;
              text-decoration: none;
              background: linear-gradient(88deg, #275892 3.02%, #002d5d 64.84%, #144277 93.9%);
              transition: all 0.3s ease;
              color: #fff;
            }
          }
        }
      }
    }
  }

  // Estilos para tablet e mobile
  @media (max-width: 1024px) {
    > .container > .content {
      gap: 20px;

      // Mostra o botão hambúrguer em telas menores
      .hamburger-menu {
        display: flex;
      }

      > .menu-container {
        position: fixed;
        top: calc(var(--wp-adminbar-offset));
        right: 0;
        width: calc(100% - 50px);
        height: calc(100vh - var(--wp-adminbar-offset));
        background-color: rgba(255, 255, 255, 0.98);
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background: var(--text-blue-highlight, #001d3c);
        border-radius: 20px 0px 0px 20px;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background-image: url('/wp-content/themes/advanced-corretora/assets/images/submenu-background.jpg');
          background-size: auto;
          background-position: 53% 21%;
          opacity: 0.2;
          mix-blend-mode: difference;
          z-index: 0;
          border-radius: 20px;
          pointer-events: none;
        }

        & > * {
          z-index: 1;
        }

        @media (min-width: 1024px) {
          background-color: transparent;
        }

        .close-icon {
          justify-content: flex-end;
          width: 100%;
          margin-bottom: -16px;
        }
        &.active {
          transform: translateX(0);
          color: #fff;

          .close-icon {
            display: flex;
          }
        }

        > .menu {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: left;
          gap: 72px;
          width: 100%;

          .list {
            flex-direction: column;
            width: 100%;
            gap: 24px;

            > li {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 16px;

              > a {
                color: var(--text-white, #fff);
                font-size: 24px;
                font-weight: 350;
                line-height: normal;

                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
              }

              > a::after {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url('../../../../assets/icons/icon_chevron_down.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 16px;
                transition: transform 0.3s ease;
                margin-bottom: -12px;
                position: relative;
                bottom: 4px;
                transform: rotate(-90deg);
              }

              // Estilos para submenus no mobile
              &.menu-item-has-children {
                .sub-menu {
                  display: block;
                  padding: 0px;
                }

                &.active .sub-menu {
                  display: block;
                }

                &.active .submenu-area {
                  position: relative;
                  top: 0px;
                  animation: none;
                  transition: none;

                  .sub-menu {
                    padding: 0px;
                  }
                }
              }
            }

            .submenu-area {
              .submenu-column {
                .sub-menu {
                  display: flex;
                  flex-direction: column;
                  gap: 16px;
                  list-style: none;
                  padding: 0;
                  margin: 0;
                }
                a {
                  font-size: 20px !important;
                  font-weight: 300 !important;
                  &::after {
                    display: none !important;
                  }
                }
                .submenu-column {
                  display: none;
                }
              }
            }
          }

          > .mobile-cta {
            display: flex !important;
            margin-top: 20px;

            .link {
              width: 100%;
              max-width: 250px;
              padding: 12px 24px;
              font-size: 16px;
            }
          }

          // Esconde o CTA do desktop no mobile
          > .cta {
            width: 100%;
            height: auto;
            a {
              border: 0px;

              border-radius: 0px;
              width: 100%;
              padding: 16px 10px;
              color: #fff;
              text-align: left;
              color: var(--text-white, #fff);
              font-size: 14px;
              font-style: normal;
              font-weight: 350;
              line-height: normal;
              background: none;
              border-radius: 999px;
              border: 1px solid #fff;
              text-align: center;
              &:hover {
                background: var(--color-default, #002d5d);
              }
            }
          }
        }
      }
    }
  }
}
