.gutenberg-flickity {
  box-sizing: content-box;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  padding-bottom: 40px;

  @media screen and (min-width: 1024px) {
    padding-left: calc(
      (100vw - min(var(--container-max-width), 100vw)) / 2 + var(--container-padding)
    );
    padding-right: calc(
      (100vw - min(var(--container-max-width), 100vw)) / 2 + var(--container-padding)
    );
  }

  .flickity-viewport {
    overflow: visible;
  }
  .carousel-cell {
    width: 363px;
    max-width: 100%;
    height: auto;
    margin-right: 16px;
    @media (min-width: 1024px) {
      width: 50%;
      max-width: 50%;
    }
    > .product {
      width: 100%;
      border-radius: 32px;
      background: #f4f5f6;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .image {
        flex: 0 0 auto;
        border-radius: 8px;
        img {
          border-radius: 8px 8px 0 0;
          height: auto;
          width: 100%;
          aspect-ratio: 342 / 264;
          object-fit: cover;
          display: block;
          object-position: top;
          @media (min-width: 1024px) {
            aspect-ratio: 700 / 320;
          }
        }
      }
      .content {
        padding: 40px;
        /* Fill remaining height of the card */
        flex: 1 1 auto;
        min-height: 0; // avoid overflow in flex context
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        .title {
          h3 {
            margin: 0;
            color: var(--Preto-Fosco, #141414);
            font-size: 34px;
            font-style: normal;
            font-weight: 350;
            line-height: 38px;
            padding-bottom: 10px;
          }
          p {
            margin: 0;
            color: var(--Preto-Fosco, #141414);
            font-size: 18px;
            font-weight: 325;
            line-height: 24px;
          }
        }
        .cta {
          a {
            color: var(--Advanced-Cores-Azul-02, #238dc1);
            font-size: 20px;
            font-style: normal;
            font-weight: 350;
            line-height: 16px;
            display: inline-flex;
            align-items: flex-start;
            text-decoration: none;
            gap: 5px;
            &::after {
              content: '';
              display: inline-block;
              width: 16px;
              height: 16px;
              background: url('/wp-content/themes/advanced-corretora/assets/icons/arrow-right.svg')
                no-repeat center center;
              background-size: contain;
            }
          }
        }
      }
    }
  }
  .flickity-page-dots {
    display: none;
    position: relative;
    @media (min-width: 1024px) {
      display: flex;
    }
    .flickity-page-dot {
      background: #b1b1b1;
      &.is-selected {
        background: #6d6d6d;
        width: 20px;
        border-radius: 7px;
      }
    }
  }

  .flickity-prev-next-button {
    top: auto;
    bottom: -40px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid #9ea2ae;
    @media (min-width: 1024px) {
      display: none;
    }
    .flickity-button-icon {
      left: 7px;
      top: 7px;
      width: 15px;
      height: 15px;
    }
    &.next {
      right: calc(50% - 36px);
    }
    &.previous {
      left: calc(50% - 36px);
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px #238dc11a;
    }
  }
}
