.wp-block-products-carousel {
  width: 100%;
}
.gutenberg-flickity {
  box-sizing: content-box;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  padding-bottom: 40px;

  // @media screen and (min-width: 1024px) {
  //   padding-left: calc(
  //     (100vw - min(var(--container-max-width), 100vw)) / 2 + var(--container-padding)
  //   );
  //   padding-right: calc(
  //     (100vw - min(var(--container-max-width), 100vw)) / 2 + var(--container-padding)
  //   );
  // }

  .flickity-viewport {
    overflow: visible;
  }
  .carousel-cell {
    width: 363px;
    max-width: calc(100% - var(--container-padding) * 2);
    height: auto;
    margin-right: 20px;
    @media (min-width: 1024px) {
      width: 46%;
      max-width: 46%;
    }
    > .product {
      width: 100%;
      border-radius: 32px;
      background: transparent;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .image {
        flex: 0 0 auto;
        border-radius: 8px;
        img {
          border-radius: 8px;
          height: auto;
          width: 100%;
          aspect-ratio: 342 / 264;
          object-fit: cover;
          display: block;
          object-position: top;
          @media (min-width: 1024px) {
            aspect-ratio: 867 / 428;
          }
        }
      }
      .content {
        padding-top: 24px;
        padding-bottom: 24px;
        // padding: 40px;
        /* Fill remaining height of the card */
        flex: 1 1 auto;
        min-height: 0; // avoid overflow in flex context
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        .title {
          h3 {
            margin: 0;
            color: #666;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            padding-bottom: 10px;
          }
          p {
            margin: 0;
            color: #666;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
          }
        }
        .cta {
          a {
            color: #666;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            display: inline-flex;
            align-items: flex-start;
            text-decoration: none;
            gap: 5px;
            &::after {
              content: '>';
              display: inline-block;
              width: 16px;
              height: 16px;
              // background: url('/wp-content/themes/advanced-corretora/assets/icons/arrow-right.svg')
              //   no-repeat center center;
              // background-size: contain;
            }
          }
        }
      }
    }
  }
  .flickity-page-dots {
    display: none;
    position: relative;
    @media (min-width: 1024px) {
      display: flex;
    }
    .flickity-page-dot {
      background: #b1b1b1;
      &.is-selected {
        background: #6d6d6d;
        width: 20px;
        border-radius: 7px;
      }
    }
  }

  .flickity-prev-next-button {
    top: auto;
    bottom: -40px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #666;
    border: 1px solid #666;
    // @media (min-width: 1024px) {
    //   display: none;
    // }
    .flickity-button-icon {
      left: 7px;
      top: 7px;
      width: 15px;
      height: 15px;
    }
    &.next {
      right: calc(50% - 36px);
    }
    &.previous {
      left: calc(50% - 36px);
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px #0033661a;
    }
    path {
      fill: #fff;
    }
    &:hover {
      border-color: #003366;
      background-color: #003366;
    }
  }
}
