// Header
.header {
  background-color: #ffffff;
  padding: 1rem 0;

  > .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      > .logo {
        flex: 0 0 auto;

        > .logo-image {
          display: block;
          max-height: 40px;

          img {
            max-height: 100%;
          }
        }

        > .logo-text {
          display: block;

          > .header__logo__link {
            color: #333;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }

      > .menu {
        flex: 1;
        text-align: right;

        > .list {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            margin-left: 2rem;

            &:first-child {
              margin-left: 0;
            }
          }

          > .item__link {
            color: #333;
            text-decoration: none;
            font-size: 0.9rem;

            &:hover {
              color: #0073aa;
            }
          }
        }
      }
    }
  }
}
