.secao-diferenciais-investimento {
    .cards {
        gap: 40px;
    }

    .wp-block-group.box {
        border-radius: 16px !important;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        width: 240px;
        height: 250px;
        flex-shrink: 0;
        text-align: center;
        align-items: center;
        padding: 20px 20px;
        gap: 40px;

        h2 {
            text-align: center;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        p {
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    @media (max-width: 768px) {
        padding-top: 100px !important;
        padding-bottom: 100px !important;

        h2 {
            font-size: 34px;
            font-style: normal;
            font-weight: 300;
            line-height: 44px;
        }

        .cards {
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;

            h2 {
                text-align: center;
                font-size: 22px !important;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
            }

            p {
                text-align: center;
                font-size: 16px !important;
                font-style: normal;
                font-weight: 325;
                line-height: normal;
            }
        }
    }
}

.secao-diferenciais-do-negocio {
    @media (max-width: 768px) {
        .wp-container-core-group-is-layout-d8245993 {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
    }
}