.consorcio-products.financial.trading {
    h2.wp-block-heading {
        font-size: 42px !important;
    }
}

.solucoes-endtoend {
    padding-top: 100px !important;
    padding-bottom: 100px !important;

    h2.wp-block-heading {
        font-size: 34px !important;
        @media (min-width: 1024px) {
            font-size: 42px !important;
        }
    }
}

.solucoes-trading {
    padding-top: 100px !important;
    padding-bottom: 100px !important;

    h2.wp-block-heading {
        font-size: 34px !important;
    }

    .gutenberg-flickity .flickity-prev-next-button {
        background-color: transparent;
        border: solid 1px #003366;

        path {
            fill: #00b2e3 !important;
        }
    }

    .gutenberg-flickity .flickity-prev-next-button:hover {
        background-color: #003366;
    }
}