/* Quicksand Font Face */
@font-face {
  font-family: 'Quicksand';
  src: 
    url('/wp-content/themes/advanced-corretora/src/fonts/quicksand/quicksand-v36-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: 
    url('/wp-content/themes/advanced-corretora/src/fonts/quicksand/quicksand-v36-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: 
    url('/wp-content/themes/advanced-corretora/src/fonts/quicksand/quicksand-v36-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: 
    url('/wp-content/themes/advanced-corretora/src/fonts/inter/inter-v19-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: 
    url('/wp-content/themes/advanced-corretora/src/fonts/inter/inter-v19-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* In development, Vite will handle the paths */
:root {
  --font-quicksand: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

:root {
  --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

/* Apply the font to the body */
body {
  font-family: var(--font-quicksand);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
