@use '../components/gutenberg/sobre' as *;

.alignfull {
  width: calc(100vw - 8px);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  .wp-block-group__inner-container {
    width: 100%;
  }
}
