:root {
  --container-max-width: 100%;
  --container-padding: 20px;
  --container-max-width-lg: 1180px;
  --wp-adminbar-offset: 0px;
}

body.admin-bar {
  --wp-adminbar-offset: 46px;

  @media (min-width: 576px) {
    --wp-adminbar-offset: 46px;
  }
  @media (min-width: 782px) {
    --wp-adminbar-offset: 32px;
  }
}

/* Base layout elements */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

header {
  width: 100%;
}

main {
  flex: 1;
  width: 100%;
}

footer {
  width: 100%;
}

a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

/* Responsive breakpoints */
@media (min-width: 576px) {
  :root {
    --container-padding: 20px;
  }
}

@media (min-width: 992px) {
  :root {
    --container-padding: 16px;
  }
}

@media (min-width: 1248px) {
  :root {
    --container-padding: 16px;
    --container-max-width: var(--container-max-width-lg);
  }
}
