.widget {
  margin: 0 0 1.5em;

  // Make sure select elements fit in widgets.
  select {
    max-width: 100%;
  }
}

/*Gutenberg Widgets sidebar*/
.blog-feed__sidebar {
  aside.widget-area {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .widget {
      margin: 0;
    }
  }
  .wp-block-image {
    margin: 0;
    &.is-style-rounded img {
      border-radius: 10px;
    }
  }
  .wp-block-heading {
    margin: 0;
    strong {
      font-weight: 300;
      color: #00b3e8;
    }
  }

  .wp-block-group {
    .wp-block-group__inner-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  .wp-block-categories {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
	list-style: none;
    .cat-item {
      border-bottom: 1px solid #ccc;
	  padding-bottom: 1rem;
	  a {
		text-decoration: none;
		color: #333;
		font-weight: 300;
	  }
    }
  }
}
