.products {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('/wp-content/themes/advanced-corretora/assets/images/products-background.jpg');
  background-size: cover;
  background-position: left;
  @media (min-width: 1024px) {
    background-position: center;
  }
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 40px;
    @media (min-width: 1024px) {
      gap: 80px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 350;
    color: var(--text-blue-default, #002d5d);
    margin: 0;
    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }
  h2 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 350;
    color: #666;
    margin: 0;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    @media (min-width: 1024px) {
      font-size: 42px;
    }
  }
}
