.sobre-group {
  display: flex;
  padding: 24px 0 72px 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  p {
    font-size: 20px;
    font-weight: 350;
    color: var(--text-blue-default, #002d5d);
    margin: 0;
    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }
  h2 {
    font-size: 38px;
    font-weight: 350;
    color: var(--text-blue-tertiary, #00b2e3);
    margin: 0;
    @media (min-width: 1024px) {
      font-size: 52px;
    }
  }
}
